<style>
    body
    {
        /*background: linear-gradient(to right, orange, wheat, orange);*/
        background-image: url('/Images/kheis-riverside-lodge.jpg');
        background-repeat: no-repeat;
        background-blend-mode: luminosity;
        background-position: center;
        color: wheat;
    }
    .boldh1{
        font-weight: bolder;
        text-shadow: 5px 5px 5px white;
    }
    #tabBooking{
        width: 200px;
        height: 300px;
        border: 2px solid purple;
        background-color: rgb(150,0,0,3);
        border-radius: 15px;
        box-shadow: 5px 5px 5px 5px black;
    }
    #btnBooking{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: rgb(150,0,0,3);
        color: whear;
    }
</style>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 boldh1">Welcome to Oppiekoppie</h1>
    <div id="tabBooking" draggable="true">
                
        <a href="/App/RequestBooking" id="btnBooking" class="btn btn-outline-secondary"><h3>Request booking</h3></a>
        <p>
            Contact us via
            <span ><img width="50" height="50" src="/Icons/mailbox.svg" /></span> email
            Phone: 080808080
            Online: Click me!
        </p>
        </div>
</div>
